<div class="container">
    <div class="row">
        <div class="">
            <nav class="navbar navbar-expand-lg ">
                <div class="container-fluid ">
                    <a class="navbar-brand" href="#">Project1</a>

                    <!-- <div class="collapse navbar-collapse" >
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Action
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Login</a></li>
                                    <li><a class="dropdown-item" href="#">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div> -->

                    <button class="btn btn-danger">Logout</button>
                </div>
            </nav>

            <form class="form-control">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Fullname</label>
                    <input type="text" class="form-control" placeholder="Enter Your Name">
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Gender</label>
                    <select name="" id="" class="form-select">
                        <option value="">Male</option>
                        <option value="">Female</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Age</label>
                    <input type="text" class="form-control" placeholder="Enter Your Age">
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Departments</label>
                    <select name="" id="" class="form-select">
                        <option value="">IT</option>
                        <option value="">ITE</option>
                        <option value="">English</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Score</label>
                    <input type="text" class="form-control" placeholder="Enter Your Score">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <table class="table mt-5 border">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Age</th>
                        <th scope="col">Departments</th>
                        <th scope="col">Score</th>
                        <th scope="col">Grade</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>test</td>
                        <td>ss</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td class="action">
                            <button class="btn btn-primary b1">Edit </button>
                            <button class="btn btn-danger b2">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>